body {
  background-color: Black;
  color: red;
  font-size: 20px;
  text-align: justify;
  padding-left: 10px;
  font-family: 'Shadows Into Light', cursive;
font-family: 'Nothing You Could Do', cursive;
}
h4 {
font-size: 25px;
color: white;
font-style: italics;
text-align: center;
font-family: 'Nothing You Could Do', cursive;
}
h1 {
  font-family: 'Creepster', cursive;
  font-size: 50px;
  text-align: center;
}
button[type="submit"]{
  color: black;
  background: white;
  border-color: red;
  padding: 15px 32px;
  display:inline-block;
  font-size: 16px
  float:right;
  margin: 100px;
}
button:hover {
  background-color: red;
    transition-duration: 0.4s;
}

.result {border: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: ##000000;
  text-align: center;
  padding: 25px;}

.footer{margin-left:auto;}
.btn {background-color:red;margin:auto;}
.btn-success{background-color:red; border-color:red; padding:3px; }
.btn-lg {color:white}
.glyphicon {color:white}
.btn {color:white}
.glyphicon-print {color:white}
