/*** landing page css ***/

#landingbody {
  background-color: #000000;
  background-image: -webkit-linear-gradient(150deg, #000000 50%, #CF0808 35%);
  max-height: 200px;
}

#ncircle {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background-color: #000;
  margin-left: 100px;
  margin-top: 25px;
}

.ntext {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  color: #fff;
  text-align: center;
  position: absolute;
  max-width: 155px;
  max-height: 155px;
  top: 100px;
  margin-left: 10px;
}

#mcircle {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background-color: #fff;
  margin-left: 200px;
}

.mtext {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  color: #000;
  text-align: center;
  position: absolute;
  max-width: 155px;
  max-height: 155px;
  top: 265px;
  margin-left: 10px;
}

#pcircle {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background-color: #000;
  margin-left: 100px;
}

.ptext {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  color: #fff;
  text-align: center;
  position: absolute;
  max-width: 155px;
  max-height: 155px;
  top: 450px;
  margin-left: 10px;
}

#qcircle {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background-color: #fff;
  margin-left: 200px;
}

.qtext {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px #CF0808;
  font-size: 20px;
  color: #000;
  text-align: center;
  position: absolute;
  max-width: 155px;
  max-height: 155px;
  top: 625px;
  margin-left: 10px;
}

#button1 {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  top: 350px;
  left: 950px;
}

#button1:hover {
  background-color: #CF0808;
  color: #fff;
  transition-duration: 0.4s;
}

/*** quiz page css ***/

#quizbody {
  background-color: black;
}

#result_div {
  position: absolute;
  margin-top: -250px;
  margin-left: 1000px;
}

#result_text {
  color: white;
  max-width: 250px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  border-style: solid;
  border-color: #CF0808;
  border-width: 1px;
  padding: 5px;
}

h4 {
  font-size: 20px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  margin-left: 50px;
}

h1 {
  font-family: 'Creepster', cursive;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
  letter-spacing: 20px;
  color: red;
}

ul {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

#button2 {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  position: absolute;
  top: 1450px;
  left: 650px;
}

#button2:hover {
  background-color: #CF0808;
  color: #fff;
  transition-duration: 0.4s;
}

.share {
  margin-left: 20px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background: #ED0C5E;
  color: white;
}

/**** scrollbar ****/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

::-webkit-scrollbar-thumb:hover {
    background: #CF0808;
}
